<ion-header>
  <ion-toolbar>
    <ion-title>chapter3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>This is where I would conclude my testimony and let you know all the ways I found God in ways I never knew him and how is love is amazing and remind people how much he wants us and loves us. he has a purose for us, we just have to stop and look up.</p>
  <ion-button color="secondary" expand="large" [routerDirection]="'forward'" [routerLink]="['/chapter4']">Go To Next Chapter</ion-button>
  <ion-button color="secondary" expand="large" [routerDirection]="'backward'" [routerLink]="['/chapter2']">Previous Page</ion-button>
  <ion-button color="secondary" expand="large" [routerDirection]="'root'" [routerLink]="['/toc']">Return to TOC</ion-button>
</ion-content>
