<ion-header>
  <ion-toolbar>
    <ion-title>chapter5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Thank you Bethel Tech aswell as the church for this opportunity to grow spirutually and mentally with this program. It has totally made a huge impact on me inturn has helped my family grow and make changes in thier lives aswell</p>
  <ion-button color="secondary" expand="large" [routerDirection]="'backward'" [routerLink]="['/chapter4']">Previous Page</ion-button>
  <ion-button color="secondary" expand="large" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC</ion-button>
</ion-content>
