<ion-header>
  <ion-toolbar>
    <ion-title>chapter2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>This is where I begin to tell my story of how things go worse in my life and how i had made so many mistakes that led me to find myself at the lowest point that led to redemption. i will tell of the ways that God was always there and never gave up on me when I gave up on myself. i would tell of his amazing love and my new identity that was given</p>
  <ion-button color="secondary" expand="large" [routerDirection]="'forward'" [routerLink]="['/chapter3']">Next Chapter</ion-button>
  <ion-button color="secondary" expand="large" [routerDirection]="'backward'" [routerLink]="['/chapter1']">Previous Page</ion-button>
  <ion-button color="secondary" expand="large" [routerDirection]="'root'" [routerLink]="['/toc']">Return to Toc</ion-button>
</ion-content>
