<ion-header>
  <ion-toolbar>
    <ion-title>chapter4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>This is where I thank those who walked the journey with me and have never left my side as there were times i felt alone and abandoned.</p>
  <ion-button color="secondary" expand="large" [routerDirection]="'forward'" [routerLink]="['/chapter5']">Next Chapter</ion-button>
  <ion-button color="secondary" expand="large" [routerDirection]="'backward'" [routerLink]="['/chapter3']">Previous Chapter</ion-button>
  <ion-button color="secondary" expand="large" [routerDirection]="'root'" [routerLink]="['/toc']">Go back to TOC</ion-button>
</ion-content>
